body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

#root {
  width: 100%;
}

.survey-row {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.questions {
  text-align: left;
}

.survey-input-area {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 30px;
  height: 80px;
  width: 90%;

  font-size: 20px;
  padding-left: 10px;
  padding-top: 10px;

  background-color: white;
  border: 1px solid #ccc;
  border-radius: 25px;

  outline: none;
  box-shadow: none;
  appearance: none;

  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.survey-input {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 30px;

  font-size: 20px;
  padding-left: 10px;

  background-color: white;
  border: 1px solid #ccc;
  border-radius: 25px;

  outline: none;
  box-shadow: none;
  appearance: none;

  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}


.survey-input-full {
  margin-left: 30px;
  width: 90%;
}

.survey-input-left-half {
  margin-left: 30px;
  width: 80%;
}

.survey-input-right-half {
  margin-left: 30px;
  width: 80%;
}

.survey-input:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 6px rgba(74, 144, 226, 0.35);
}

.survey-input-area:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 6px rgba(74, 144, 226, 0.35);
}

h1 {
  font-size: 52px;
  font-family: "Fredoka"; 
  font-weight: "bold";
  color: #2c3e50;
  margin-top: 30px;
  margin-bottom: 10px;
}

h2 {
  font-size: 38px;
  font-family:cursive; 

  color: #2c3e50;
  margin-top: 34px;
  margin-bottom: 10px;
}

p {
  font-size: 20px;
  font-family: "Fredoka"; 

  color: #2c3e50;
  margin-top: 30px;
  margin-bottom: 10px;
}

body {
  margin: 0;
  min-height: 100vh;

  background: linear-gradient(
    135deg,
    #fffdf6,
    #f7fbff
  );
}

.submit-container {
  display: flex;
  justify-content: center;
  margin: 50px 0 25px;
}

.submit-button {
  padding: 12px 36px;
  font-size: 20px;
  border-radius: 25px;
  cursor: pointer;

  background-color: white;
  border: 1px solid #ccc;

  outline: none;
  box-shadow: none;
  appearance: none;
}

.submit-button:hover{
    border-color: #4a90e2;
  box-shadow: 0 0 6px rgba(74, 144, 226, 0.35);
}

.submit-button:active{
  background-color: #4a90e2;
  border-color: #4a90e2;
  box-shadow: 0 0 6px rgba(74, 144, 226, 0.35);
}